body{
	font-size: 18px;
	background: -webkit-radial-gradient(center, circle farthest-corner, #E3F0E1 0%, #C9C9C9 100%);

}

fieldset{
	border: solid;
	border-color: #c9c9c9;
	width: 350px;
	height: 100px;
	position: relative;
	

}

#logo{
	position: relative;
	left: 200px;
	top: 50px;
}

#crm{
	position: relative;
	left: 450px;
	top: -15px;

}

#logged{
	position: relative;
	left: 1100px;
	top: -15px
}

#loginField{
	position: relative;
	left: 460px;
	top: 100px;

}
#log{
	text-align: center;

}