body{
	font-size: 18px;
	background: -webkit-radial-gradient(center, circle farthest-corner, #E3F0E1 0%, #C9C9C9 100%);

}
/*
fieldset{
	border: solid;
	border-color: #c9c9c9;
	width: 350px;
	height: 100px;
	position: relative;
}
*/

#logo{
	position: relative;
	left: 200px;
	top: 50px;
}

#crm{<?php

App::uses('AppModel', 'Model');
class Theme extends AppModel {

    

}
	position: relative;
	left: 450px;
	top: -15px;

}

#logged{
	position: relative;
	left: 1100px;
	top: -15px
}

#loginField{
	position: relative;
	left: 460px;
	top: 100px;

}
#log{
	text-align: center;

}

input{
	padding: 2px;
	outline: blue;
}

.third-menu {
  position: absolute;
  top: 0px;
  right: -150px;
  width: 150px;
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
}
.third-menu li {
  height: 30px;
  line-height: 30px;
  background: #999999;
}
.third-menu li:hover { background: #CCCCCC; }

.sub-menu {
  position: absolute;
  top: 30px;
  left: 0;
  width: 150px;
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
}
.sub-item {
  position: relative;
  height: 30px;
  line-height: 30px;
  background: #999999;
}
.sub-item:hover { background: #CCCCCC; }
.sub-item:hover .third-menu { display: inline; }

#menu {
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu-item {
  position: relative;
  float: left;
  height: 30px;
  width: 121px;
  line-height: 30px;
  background: #999999;
}
.menu-item:hover { background: #CCCCCC; }
.menu-item:hover .sub-menu { display: inline; }
